@page "/feats/{Id:int}"
@inherits DataComponent

@if (IsLoaded)
{
    <PageTitle>The @Tlk![(uint)model!.Feat!] Class</PageTitle>

    <h1>The @Tlk![(uint)model!.Feat!] Class</h1>
    <text>Coming soon.</text>

    <textarea class="font-monospace" style="white-space: pre-wrap; width: 100%; height: 10em" readonly>@Tlk[(uint)model!.Description!]</textarea>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private FeatModel? model = null;

    protected override bool IsLoaded { get { return base.IsLoaded && model != null; } }

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource cts = new CancellationTokenSource();
        var tlkTask = FileLoader.LoadTlkAsync(cts.Token);
        var fullFeatListTask = FileLoader.Load2daAsync<FeatModel>("feat", cts.Token);
        await Task.WhenAll(tlkTask, fullFeatListTask);
        Tlk = await tlkTask;
        var fullFeatList = await fullFeatListTask;
        if (fullFeatList != null)
        {
            model = fullFeatList[Id];
        }
    }
}
