<div>
    Class skills:
    @if (Class.ClassSkills.Count == 0)
    {
        <text>none</text>
    }
    <CommaLinkList LinkList="@Class.ClassSkills.Select(cs => new KeyValuePair<string, string>(cs.NameString, $"/skills/{cs.Index}")).ToList()" />
</div>
<div>
    Cross-class skills:
    @if (Class.CrossClassSkills.Count == 0)
    {
        <text>none</text>
    }
    <CommaLinkList LinkList="@Class.CrossClassSkills.Select(ccs => new KeyValuePair<string, string>(ccs.NameString, $"/skills/{ccs.Index}")).ToList()" />
</div>
<div>
    Unavailable skills:
    @if (Class.UnavailableSkills.Count == 0)
    {
        <text>none</text>
    }
    <CommaLinkList LinkList="@Class.UnavailableSkills.Select(us => new KeyValuePair<string, string>(us.NameString, $"/skills/{us.Index}")).ToList()" />
</div>

@code {
    [Parameter, EditorRequired]
    public FullClassModel Class { get; set; } = default!;
}
