<h2>Skills</h2>

<div class="container">
    <div class="row">
        <div class="col">
            Class skills:
        </div>
        <div class="col">
            <CommaLinkList LinkList="@Class.ClassSkills.Select(cs => new KeyValuePair<string, string>(cs.NameString, $"/skills/{cs.Index}")).ToList()" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            Cross-class skills:
        </div>
        <div class="col">
            <CommaLinkList LinkList="@Class.CrossClassSkills.Select(ccs => new KeyValuePair<string, string>(ccs.NameString, $"/skills/{ccs.Index}")).ToList()" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            Unavailable skills:
        </div>
        <div class="col">
            <CommaLinkList LinkList="@Class.UnavailableSkills.Select(us => new KeyValuePair<string, string>(us.NameString, $"/skills/{us.Index}")).ToList()" />
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public FullClassModel Class { get; set; } = default!;
}
